<Directory "/upload">
    <FilesMatch ".*">
        SetHandler text/plain
    </FilesMatch>
</Directory>

<Directory "/upload/*">
    <FilesMatch ".*">
        SetHandler text/plain
    </FilesMatch>
</Directory> 